<nav class="Menu ChatListHeader-Menu Menu_active">
  <h5 class="OutlineHeader">Главное меню</h5>
  <div>
    <div class="Menu-Dot"></div>
    <ul class="Menu-Body Menu_bodytype_chatlist">
      <li class="Menu-Item"><a class="Menu-Link Menu_linktype_edit" href="">Переименовать</a></li>
      <li class="Menu-Item"><a class="Menu-Link Menu_linktype_delete"
          href="/src/pages/modal_del/del_chat.handlebars">Удалить чат</a></li>
    </ul>
  </div>
</nav>
<button class="NewChat ChatListHeader-NewChat Icon Icon_type_newchat"></button>
{{{profileLink}}}
