@use '/static/styles/vars.scss';

/* Input */

input:-webkit-autofill,
input:-webkit-autofill:focus {
  box-shadow: inset 0 0 0 1px rgba(255 255 255 / 0%), inset 0 0 0 100px rgba(255 255 255 / 100%);
}

.Input {
  color: vars.$greyInput;
  line-height: 2rem;
}

.Input:focus {
  outline: transparent;
}

.Input:focus::placeholder {
  color: transparent;
}

.Input_theme_grey {
  background-color: vars.$grFill1;
  border: transparent;
}
