@use '/static/styles/vars.scss';

/* Input */

.Input {
  color: vars.$greyInput;
  border: none;
  line-height: 2rem;
}

.Input:focus {
  font-size: 1.4em;
  outline: transparent;
}

.Input:focus::placeholder {
  color: transparent;
}

.Input_theme_grey {
  background-color: vars.$grFill1;
}
