<ul class="UserSelect-Body">
  <li class="UserSelect-Item" data-id="125">Сергей Геннадиевич</li>
  <li class="UserSelect-Item" data-id="125">Гор Мазманян</li>
  <li class="UserSelect-Item" data-id="125">Николай Силкин</li>
  <li class="UserSelect-Item" data-id="125">Сергей Иванов</li>
  <li class="UserSelect-Item" data-id="125">Александр Новиков</li>
  <li class="UserSelect-Item" data-id="125">Александр Новиков</li>
  <li class="UserSelect-Item" data-id="125">Arial Helvetica</li>
  <li class="UserSelect-Item" data-id="125">Verdana</li>
  <li class="UserSelect-Item" data-id="125">Tahoma Geneva</li>
  <li class="UserSelect-Item" data-id="125">Times New Roman</li>
</ul>
