@use '/static/styles/vars.scss';
/* Form */

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Form-Name {
    color: vars.$black;
    font-size: 1.8em;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    margin: 20px auto 40px;
}
.Form-Input {
    width: 100%;
    padding: 0;
    font-size: 1.6em;
    box-sizing: border-box;
}
.Form-Input:focus {
    font-size: 1.6em;
}
.Form-Submit {
    margin: 40px auto 16px;
}
.Form_type_general {
    flex-direction: column;
    
}

/* Submit */

.Submit {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background-color: vars.$siteBlue;
    font-size: 1.5em;
    line-height: 2.5;
    font-weight: 500;
    color: vars.$white;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 0 66px;
    min-width: 280px;
    cursor: pointer;
}
.Submit:focus {
    outline: none;
}
.Edit {
    justify-content: space-between;
}

/* Signup */

.SignUp {
    justify-content: center;
}

/* Login */

.Login {
    justify-content: center;
}

.Login .Submit {
    margin-top: 156px;
}

.Login .Form-Name {
    margin-bottom: 100px;
}

@media screen and (min-width: 376px) {
    /* Form */

    .Form-Input {
        width: auto;
        order: 2;
        text-align: right;
        flex: 3;
    }
    .Form-Input::placeholder {
        // color: transparent;
    }
}