<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger. Chat</title>
    {{!-- <link rel="stylesheet" href="styles.css"> --}}
    <script src="./chat.ts" type="module"></script>
</head>
<body>
    <main class="Page Page_type_chatlist">
        <h5 class="OutlineHeader">myMessenger</h5>
        <section class="ChatList">
            <h1 class="OutlineHeader">Выбор чата</h1>
            <div class="ChatListHeader">
                <nav class="Menu ChatListHeader-Menu">
                    <h2 class="OutlineHeader">Главное меню</h2>
                    <div class="Menu-Dot"></div>
                </nav>
                <button class="NewChat ChatListHeader-NewChat Icon Icon_type_newchat"></button>
                <a class="PageLink Link PageLink_to_profile" href="/src/pages/edit_profile/edit_profile.hbs">Профиль</a>
            </div>
            <div class="Search">
                <input class="Search-Input Input Input_theme_grey" type="search" name="search" id="search" placeholder="Поиск">
            </div>
            <section class="ChatList-Frame">
                <h3 class="OutlineHeader">Список чатов</h3>
                <ul class="ChatList-Selector">
                    <li class="Chat">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">Виктор Ильин</h4>
                                <span class="Status">15:42</span>
                            </div>
                            <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum et eturitaquis dolorum aut vel ipit quo quid m</div>
                            <div class="Chat-UnreadCount">5</div>
                        </div>
                    </li>
                    <li class="Chat">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">Колян</h4>
                                <span class="Status">5:42</span>
                            </div>
                            <div class="Chat-Preview">Ximus, sinctas rerferibus assimax imincitatis dolore cum solore vollabo riorupidel idi dit exceaqui doluptam renimporum harum dissit atioris seditio.</div>
                        </div>
                    </li>
                    <li class="Chat Chat_selected">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">Александр Новиков</h4>
                                <span class="Status Status_state_read">Ср</span>
                            </div>
                            <div class="Chat-Preview"><span class="Chat-Sender">Fero</span> quam si odi te sita endam rectust ibusdam la ipsandam et doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum et eturitaquis dolorum aut vel ipit quo quid m</div>
                        </div>
                    </li>
                    <li class="Chat">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">+&zwj;7 903 &zwj;750-48-21</h4>
                                <span class="Status">12-Июн-2020</span>
                            </div>
                            <div class="Chat-Preview">Pudae que senihicaepro odis endae si volor acessitate sim fugit omnihicid et minci sam sinveliquae in eumqui aut omnis excerro blabor</div>
                        </div>
                    </li>
                    <li class="Chat">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">Виктор Ильин</h4>
                                <span class="Status">15:42</span>
                            </div>
                            <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum et eturitaquis dolorum aut vel ipit quo quid m</div>
                            <div class="Chat-UnreadCount">5</div>
                        </div>
                    </li>
                    <li class="Chat">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">Виктор Ильин</h4>
                                <span class="Status">15:42</span>
                            </div>
                            <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum et eturitaquis dolorum aut vel ipit quo quid m</div>
                            <div class="Chat-UnreadCount">5</div>
                        </div>
                    </li>
                    <li class="Chat">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">Виктор Ильин</h4>
                                <span class="Status">15:42</span>
                            </div>
                            <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum et eturitaquis dolorum aut vel ipit quo quid m</div>
                            <div class="Chat-UnreadCount">5</div>
                        </div>
                    </li>
                    <li class="Chat">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">Виктор Ильин</h4>
                                <span class="Status">15:42</span>
                            </div>
                            <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum et eturitaquis dolorum aut vel ipit quo quid m</div>
                            <div class="Chat-UnreadCount">5</div>
                        </div>
                    </li>
                    <li class="Chat">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">Виктор Ильин</h4>
                                <span class="Status">15:42</span>
                            </div>
                            <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum et eturitaquis dolorum aut vel ipit quo quid m</div>
                            <div class="Chat-UnreadCount">5</div>
                        </div>
                    </li>
                </ul>
            </section>
        </section>
        <section class="ChatArea">
            <div class="ChatArea-Header">
                <img class="Chat-Picture Picture Picture_for_header" src="/static/images/chat_avatar.png" alt="">
                <div class="ChatArea-Info">
                    <h2 class="Chat-Title">Александр Новиков</h2>
                    <span class="LastSeen">Был 30 минут назад</span>
                </div>
                <nav class="Menu ChatArea-Menu">
                    <h2 class="OutlineHeader">Меню чата</h2>
                    <div class="Menu-Dot"></div>
                </nav>
            </div>
            <div class="ChatArea-Content">
                <div class="ChatArea-Date">28 августа</div>
                <div class="Message ChatArea-Message Message_type_incoming">
                    <div class="Message-Bubble">
                        <div class="Message-Body Message_type_image">
                            <img class="Message-Image" src="/static/images/chat_pic.png" alt="">
                            <span class="Status Message-Status">15:44</span>
                        </div>
                        <p class="Message-Body Message_type_text">Gent. Incieni maioren derumen dicate pa solum apit eate poribus quossin ciaero omnima ne sit, cusandundae magnatis reicabo repudae qui aut fugit quae verunt ea suntiis citist vero et lamet at autecat emquia cus.<span class="Status Message-Status">15:44</span></p>
                        
                    </div>
                </div>
                <div class="Message ChatArea-Message Message_type_outgoing">
                    <div class="Message-Bubble">
                        <p class="Message-Body Message_type_text">Rlga asdofygls asyg<span class="Status Message-Status Status_state_read">15:47</span></p>
                    </div>
                </div>
                <div class="Message ChatArea-Message Message_type_incoming">
                    <div class="Message-Bubble">
                        <p class="Message-Body Message_type_text">Gia acestibusam il invelest, tent maximin ctotat.<span class="Status Message-Status">15:48</span></p>
                    </div>
                </div>
            </div>
            <div class="Compose">
                <div class="Compose-Menu Menu Icon Icon_type_attach"></div>
                <input class="NewMessage Input Input_theme_grey" type="text" placeholder="Сообщение">
                <button class="Button Send Compose-Send Icon Icon_type_send"></button>
            </div>
        </section>
    </main>
</body>
</html>