<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Messenger Static</title>
  <script src="/static/entries/sprint2.ts" type="module"></script>
</head>

<body>
  <main class="Page Page_type_index">

    <h1>Messenger Project</h1>
    <nav>
      <h2>Pages</h2>
      <ul>
        <li><a href="/src/pages/login/login.handlebars">Логин</a></li>
        <li><a href="/src/pages/sign_up/sign_up.handlebars">Регистрация</a></li>
        <li><a href="/src/pages/chat_list/chat_list.handlebars">Список чатов</a></li>
        <li><a href="/src/pages/chat/chat.handlebars">Чат</a></li>
        <li><a href="/src/pages/edit_profile/edit_profile.handlebars">Профиль</a></li>
        <li><a href="/src/pages/404/404.handlebars">Error 404</a></li>
        <li><a href="/src/pages/500/500.handlebars">Error 500</a></li>
      </ul>
    </nav>
  </main>
</body>

</html>
