<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger Static</title>
    <script src="/static/entries/index.ts" type="module"></script>
</head>

<body>
    <main class="Page Page_type_index">

        <h1>Messenger Project</h1>
        <h2>Tests</h2>
        <div id="app"></div>
    </main>
    <script src="./test.ts" type="module"></script>
</body>

</html>
