@use '/static/styles/vars.scss';
@use '/static/styles/fonts.scss';

/* ChatList */

.ChatList {
  background-color: vars.$lightGrey;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
}

.ChatList-Frame {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.ChatList-Selector {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 640px) {
  .ChatList {
    width: 40%;
    min-width: 260px;
    border-right: 1px solid vars.$greyLine;
  }
}
