<h5 class="OutlineHeader">Выбор чата</h5>
{{{chatListHeader}}}
{{{chatSearch}}}
<section class="ChatList-Frame">
  <h3 class="OutlineHeader">Список чатов</h3>
  <ul class="ChatList-Selector">
    <li class="Chat">
      <img class="Picture Chat-Picture" src="/static/images/chat_avatar.png" alt="">
      <div class="Chat-Info">
        <div class="Chat-Header">
          <h4 class="Chat-Title">Виктор Ильин</h4>
          <time class="Status">15:42</time>
        </div>
        <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et
          doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum
          et eturitaquis dolorum aut vel ipit quo quid m</div>
        <div class="Chat-UnreadCount">5</div>
      </div>
    </li>
    <li class="Chat">
      <img class="Picture Chat-Picture" src="/static/images/chat_avatar.png" alt="">
      <div class="Chat-Info">
        <div class="Chat-Header">
          <h4 class="Chat-Title">Колян</h4>
          <time class="Status">5:42</time>
        </div>
        <div class="Chat-Preview">Ximus, sinctas rerferibus assimax imincitatis dolore cum solore
          vollabo riorupidel idi dit exceaqui doluptam renimporum harum dissit atioris seditio.
        </div>
      </div>
    </li>
    <li class="Chat Chat_selected">
      <img class="Picture Chat-Picture" src="/static/images/chat_avatar.png" alt="">
      <div class="Chat-Info">
        <div class="Chat-Header">
          <h4 class="Chat-Title">Александр Новиков</h4>
          <time class="Status Status_state_read">Ср</time>
        </div>
        <div class="Chat-Preview"><span class="Chat-Sender">Fero</span> quam si odi te sita endam
          rectust ibusdam la ipsandam et doluptas elit ipis aborit, cullupic tem voloreicit ad
          ullendanti corem int facculparum et eturitaquis dolorum aut vel ipit quo quid m</div>
      </div>
    </li>
    <li class="Chat">
      <img class="Picture Chat-Picture" src="/static/images/chat_avatar.png" alt="">
      <div class="Chat-Info">
        <div class="Chat-Header">
          <h4 class="Chat-Title">+&zwj;7 903 &zwj;750-48-21</h4>
          <time class="Status">12-Июн-2020</time>
        </div>
        <div class="Chat-Preview">Pudae que senihicaepro odis endae si volor acessitate sim fugit
          omnihicid et minci sam sinveliquae in eumqui aut omnis excerro blabor</div>
      </div>
    </li>
    <li class="Chat">
      <img class="Picture Chat-Picture" src="/static/images/chat_avatar.png" alt="">
      <div class="Chat-Info">
        <div class="Chat-Header">
          <h4 class="Chat-Title">Виктор Ильин</h4>
          <time class="Status">15:42</time>
        </div>
        <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et
          doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum
          et eturitaquis dolorum aut vel ipit quo quid m</div>
        <div class="Chat-UnreadCount">5</div>
      </div>
    </li>
    <li class="Chat">
      <img class="Picture Chat-Picture" src="/static/images/chat_avatar.png" alt="">
      <div class="Chat-Info">
        <div class="Chat-Header">
          <h4 class="Chat-Title">Виктор Ильин</h4>
          <time class="Status">15:42</time>
        </div>
        <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et
          doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum
          et eturitaquis dolorum aut vel ipit quo quid m</div>
        <div class="Chat-UnreadCount">5</div>
      </div>
    </li>
    <li class="Chat">
      <img class="Picture Chat-Picture" src="/static/images/chat_avatar.png" alt="">
      <div class="Chat-Info">
        <div class="Chat-Header">
          <h4 class="Chat-Title">Виктор Ильин</h4>
          <time class="Status">15:42</time>
        </div>
        <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et
          doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum
          et eturitaquis dolorum aut vel ipit quo quid m</div>
        <div class="Chat-UnreadCount">5</div>
      </div>
    </li>
    <li class="Chat">
      <img class="Picture Chat-Picture" src="/static/images/chat_avatar.png" alt="">
      <div class="Chat-Info">
        <div class="Chat-Header">
          <h4 class="Chat-Title">Виктор Ильин</h4>
          <time class="Status">15:42</time>
        </div>
        <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et
          doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum
          et eturitaquis dolorum aut vel ipit quo quid m</div>
        <div class="Chat-UnreadCount">5</div>
      </div>
    </li>
    <li class="Chat">
      <img class="Picture Chat-Picture" src="/static/images/chat_avatar.png" alt="">
      <div class="Chat-Info">
        <div class="Chat-Header">
          <h4 class="Chat-Title">Виктор Ильин</h4>
          <time class="Status">15:42</time>
        </div>
        <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et
          doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum
          et eturitaquis dolorum aut vel ipit quo quid m</div>
        <div class="Chat-UnreadCount">5</div>
      </div>
    </li>
  </ul>
</section>
