@use '/static/styles/vars.scss';

.Input-Group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid vars.$greyLine;
  margin-top: 8px;
}

.Input-Label {
  font-size: 1.2em;
  font-weight: 100;
  color: vars.$black;
}

.Input-Error {
  font-size: 1.2em;
  font-weight: 300;
  color: vars.$errMsg;
  visibility: hidden;
}

.Input-Avatar {
  text-align: center;
  cursor: pointer;
  color: vars.$siteBlue;
  font-weight: 400;

  &:hover {
    text-decoration: underline;
  }
}

.Input-File {
  display: none;
}

.Input_errorvisible {
  visibility: visible;
}

.Input_labelhidden {
  visibility: hidden;
}

@media screen and (min-width: vars.$formBreak) {
  /* Input */

  .Input-Label {
    order: 1;
    font-size: 1.6em;
    flex: 2;
  }

  .Input-Error {
    width: 100%;
    justify-self: flex-end;
    text-align: right;
    order: 0;
  }
}
