{{#if selectedChat}}
{{{messageAreaHeader}}}
<div class="MessageArea-Curent">
  {{#each messages}}
  {{{.}}}
  {{/each}}
</div>
{{{compose}}}
{{else}}
<h5 class="OutlineHeader">Выбранный чат</h5>
<p class="Hint">Выберите чат</p>
{{/if}}
