<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger Static</title>
    <script src="/static/index.ts" type="module"></script>
</head>

<body>
    <main class="Page Page_type_index">

    <h1>Messenger Project</h1>
    <h2>Static page layout</h2>
<ul>
    <li><a href="/src/pages/login/login.hbs">Логин</a></li>
    <li><a href="/src/pages/sign_up/sign_up.hbs">Регистрация</a></li>
    <li><a href="/src/pages/chat_list/chat_list.hbs">Список чатов</a></li>
    <li><a href="/src/pages/chat/chat.hbs">Чат</a></li>
    <li><a href="/src/pages/edit_profile/edit_profile.hbs">Профиль</a></li>
    <li><a href="/src/pages/404/404.hbs">Error 404</a></li>
    <li><a href="/src/pages/500/500.hbs">Error 500</a></li>
    <li><a href="/src/pages/modal_add/add_chat.hbs">Модал +</a></li>
    <li><a href="/src/pages/modal_del/del_chat.hbs">Модал -</a></li>
</ul>
    </main>
</body>

</html>