@use '/static/styles/vars.scss';
/* Search */

.Search {
    box-sizing: border-box;
    width: 100%;
    padding: 6px 10px 8px;
    background-color: transparent;
    // height: 40px;
}

.Search-Input {
    width: 100%;
    font-size: 1.4em;
    border-radius: 5px;
    padding-left: 58px;
    background-image: url(/static/images/loupe.svg);
    background-repeat: no-repeat;
    background-position: 12px;
}

.Search-Input:focus {
    background-image: none;
    padding-left: 16px;
    outline: 1px solid vars.$greyInput;
}

// .NewMessage {
//     padding: 0 20px;
//     height: 32px;
//     border-radius: 16px;
//     flex: 1;
// }
