@font-face {
  font-family: 'lato';
  src: url('/static/fonts/lato-light-webfont.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('/static/fonts/lato-regular-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('/static/fonts/lato-medium-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('/static/fonts/lato-semibold-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
