// colors

$white: #fff;
$black: #000;
$darkText: #1e1e1e;
$greyText: #828282;
$greyInput: #333;
$greyLine: #e5e5e5;
$lightGrey: #fbfbfb;
$lightBlue: #e5efff;
$grFill1: #efefef;
$grFill2: #f8f8f8;
$errMsg: #ff2f2f;
$siteBlue: #2f80ed;
$dateOfMess: rgba(170, 170, 170, 0.8);
$modalBack: rgba(0, 0, 0, 0.6);

// shadows

$menuShadow: 1px 1px 5px rgba(0, 0, 0, 0.15);

// breakpoints

$formBreak: 376px;
$pageBreak: 640px;
