<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger. Chat List</title>
</head>
<body>
    <div class="Page Page_type_chatlist">
        <h5 class="OutlineHeader">myMessenger</h5>
        <aside class="ChatList">
            <h1 class="OutlineHeader">Выбор чата</h1>
            <div class="ChatListHeader">
                <nav class="Menu ChatListHeader-Menu Menu_active">
                    <h2 class="OutlineHeader">Главное меню</h2>
                    <div class="Menu-Dot"></div>
                    <ul class="Menu-Body Menu_bodytype_chatlist">
                        <li class="Menu-Item"><a class="Menu-Link Menu_linktype_edit" href="">Переименовать</a></li>
                        <li class="Menu-Item"><a class="Menu-Link Menu_linktype_delete" href="/src/pages/modal_del/del_chat.handlebars">Удалить чат</a></li>
                    </ul>
                </nav>
                <button class="NewChat ChatListHeader-NewChat Icon Icon_type_newchat"></button>
                <a class="PageLink Link PageLink_to_profile" href="/src/pages/edit_profile/edit_profile.handlebars">Профиль</a>
            </div>
            <div class="Search">
                <input class="Search-Input Input Input_theme_grey" type="search" name="search" id="search" placeholder="Поиск">
            </div>
            <section class="ChatList-Frame">
                <h3 class="OutlineHeader">Список чатов</h3>
                <ul class="ChatList-Selector">
                    <li class="Chat">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">Виктор Ильин</h4>
                                <time class="Status">15:42</time>
                            </div>
                            <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum et eturitaquis dolorum aut vel ipit quo quid m</div>
                            <div class="Chat-UnreadCount">5</div>
                        </div>
                    </li>
                    <li class="Chat">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">Колян</h4>
                                <time class="Status">5:42</time>
                            </div>
                            <div class="Chat-Preview">Ximus, sinctas rerferibus assimax imincitatis dolore cum solore vollabo riorupidel idi dit exceaqui doluptam renimporum harum dissit atioris seditio.</div>
                        </div>
                    </li>
                    <li class="Chat Chat_selected">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">Александр Новиков</h4>
                                <time class="Status Status_state_read">Ср</time>
                            </div>
                            <div class="Chat-Preview"><span class="Chat-Sender">Fero</span> quam si odi te sita endam rectust ibusdam la ipsandam et doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum et eturitaquis dolorum aut vel ipit quo quid m</div>
                        </div>
                    </li>
                    <li class="Chat">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">+&zwj;7 903 &zwj;750-48-21</h4>
                                <time class="Status">12-Июн-2020</time>
                            </div>
                            <div class="Chat-Preview">Pudae que senihicaepro odis endae si volor acessitate sim fugit omnihicid et minci sam sinveliquae in eumqui aut omnis excerro blabor</div>
                        </div>
                    </li>
                    <li class="Chat">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">Виктор Ильин</h4>
                                <time class="Status">15:42</time>
                            </div>
                            <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum et eturitaquis dolorum aut vel ipit quo quid m</div>
                            <div class="Chat-UnreadCount">5</div>
                        </div>
                    </li>
                    <li class="Chat">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">Виктор Ильин</h4>
                                <time class="Status">15:42</time>
                            </div>
                            <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum et eturitaquis dolorum aut vel ipit quo quid m</div>
                            <div class="Chat-UnreadCount">5</div>
                        </div>
                    </li>
                    <li class="Chat">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">Виктор Ильин</h4>
                                <time class="Status">15:42</time>
                            </div>
                            <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum et eturitaquis dolorum aut vel ipit quo quid m</div>
                            <div class="Chat-UnreadCount">5</div>
                        </div>
                    </li>
                    <li class="Chat">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">Виктор Ильин</h4>
                                <time class="Status">15:42</time>
                            </div>
                            <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum et eturitaquis dolorum aut vel ipit quo quid m</div>
                            <div class="Chat-UnreadCount">5</div>
                        </div>
                    </li>
                    <li class="Chat">
                        <img class="Chat-Picture" src="/static/images/chat_avatar.png" alt="">
                        <div class="Chat-Info">
                            <div class="Chat-Header">
                                <h4 class="Chat-Title">Виктор Ильин</h4>
                                <time class="Status">15:42</time>
                            </div>
                            <div class="Chat-Preview">Fero quam si odi te sita endam rectust ibusdam la ipsandam et doluptas elit ipis aborit, cullupic tem voloreicit ad ullendanti corem int facculparum et eturitaquis dolorum aut vel ipit quo quid m</div>
                            <div class="Chat-UnreadCount">5</div>
                        </div>
                    </li>
                </ul>
            </section>
        </aside>
        <main class="ChatArea">
            <h1 class="OutlineHeader">Выбранный чат</h1>
            <p class="Hint">Выберите чат</p>
        </main>
    </div>
    <script src="./chat_list.ts" type="module"></script>
</body>
</html>
