<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger. 404</title>
    {{!-- <link rel="stylesheet" href="styles.css"> --}}
</head>
<body>
    <main class="Page Page_type_not-found">
        <h1 class="OutlineHeader">myMessenger</h1>
        <div class="PageNotFound">
            <p class="PageNotFound-ErrNo">404</p>
            <h2 class="PageNotFound-ErrDesc">Страница не найдена</h2>
            {{!-- <a class="Link PageLink PageLink_to_login" href="chat_list.html">Назад к чатам</a> --}}
        </div>
    </main>
</body>
</html>