<h5 class="OutlineHeader">myMessenger</h5>
<section class="Profile Edit">
    <h2 class="OutlineHeader">Редактирование профиля</h2>
    <a class="PageLink Link PageLink_to_list Profile-PageLink" href="/src/pages/chat_list/chat_list.handlebars">Назад к
        чатам</a>
    {{{pageForm}}}
</section>
