<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger. Edit Profile</title>
</head>
<body>
    <main class="Page Page_type_profile">
        <h5 class="OutlineHeader">myMessenger</h5>
        <section class="Profile Edit">
            <h1 class="OutlineHeader">Редактирование профиля</h1>
            <a class="PageLink Link PageLink_to_list Profile-PageLink" href="/src/pages/chat_list/chat_list.handlebars">Назад к чатам</a>
            <form class="Form Profile-Form"  action="#" onsubmit="logForm(this); return false;">
                <a href="/src/pages/modal_ava/edit_ava.handlebars" class="Form-ImageInput">
                    <img class="Chat-Picture Picture Picture_for_profile" src="/static/images/chat_avatar.png" alt="Аффтар">
                </a>
                <h2 class="Form-Name">Александр Новиков</h2>
                <input type="hidden" name="avatar" value="path/to/image.jpg">
                <div class="Input-Group">
                    <label class="Input-Label" for="first_name">Имя</label>
                    <span class= "Input-Error Input_errorvisible">Поле не может быть пустым</span>
                    <input class="Input Form-Input" type="text" name="first_name" id="first_name" placeholder="Имя">
                </div>
                <div class="Input-Group">
                    <label class="Input-Label" for="second_name">Фамилия</label>
                    <span class= "Input-Error Input_errorvisible">Поле не может быть пустым</span>
                    <input class="Input Form-Input" type="text" name="second_name" id="second_name" placeholder="Фамилия">
                </div>
                <div class="Input-Group">
                    <label class="Input-Label" for="display_name">Ник</label>
                    <span class= "Input-Error Input_errorvisible">Поле не может быть пустым</span>
                    <input class="Input Form-Input" type="text" name="display_name" id="display_name" placeholder="Ник">
                </div>
                <div class="Input-Group">
                    <label class="Input-Label" for="login">Логин</label>
                    <span class= "Input-Error Input_errorvisible">Такой логин уже занят</span>
                    <input class="Input Form-Input" type="text" name="login" id="login" placeholder="Логин">
                </div>
                <div class="Input-Group">
                    <label class="Input-Label" for="email">Email</label>
                    <span class= "Input-Error Input_errorvisible">Некорректный email</span>
                    <input class="Input Form-Input" type="email" name="email" id="email" placeholder="Email">
                </div>
                <div class="Input-Group">
                    <label class="Input-Label" for="phone">Телефон</label>
                    <span class= "Input-Error Input_errorvisible">Некорректный телефон</span>
                    <input class="Input Form-Input" type="tel" name="phone" id="phone" placeholder="Телефон">
                </div>
                <div class="Input-Group">
                    <label class="Input-Label" for="newPassword">Новый пароль</label>
                    <span class= "Input-Error Input_errorvisible">Пароль слишком простой</span>
                    <input class="Input Form-Input" type="password" name="newPassword" id="newPassword" placeholder="Новый пароль">
                </div>
                <div class="Input-Group">
                    <label class="Input-Label" for="newPassword2">Повторите новый пароль</label>
                    <span class= "Input-Error Input_errorvisible">Пароли не совпадают</span>
                    <input class="Input Form-Input" type="password" name="newPassword2" id="newPassword2" placeholder="Введите">
                </div>
                <div class="Input-Group">
                    <label class="Input-Label" for="oldPassword">Старый пароль</label>
                    <span class= "Input-Error Input_errorvisible">Неверный пароль</span>
                    <input class="Input Form-Input" type="password" name="oldPassword" id="oldPassword" placeholder="Введите">
                </div>
                <input class="Submit Form-Submit" type="submit" name="submit" id="submit" value="Сохранить">
            </form>
        </section>
    </main>
    <script src="./edit_profile.ts" type="module"></script>
</body>
</html>