@use '/static/styles/vars.scss';

/* Link */

.Link {
  text-decoration: none;
  font-family: lato, sans-serif;
  color: vars.$greyText;
  cursor: pointer;
  user-select: none;
}

/* PageLink */

.PageLink {
  font-weight: 500;
  font-size: 1.3em;
  line-height: 1.85;
  border: 0;
  appearance: none;
  padding: 0;
  background-color: transparent;
}

.FormLink {
  font-weight: 500;
  font-size: 1.6em;
  line-height: 2.85;
  border: 0;
  border-bottom: 1px solid vars.$greyLine;
  appearance: none;
  padding: 0;
  background-color: transparent;
  text-align: start;
  color: vars.$siteBlue;

  &:first-of-type {
    margin-top: 3em;
  }
}

.PageLink_to_profile::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-right-color: vars.$greyText;
  border-top-color: vars.$greyText;
  transform: rotate(45deg);
  margin-left: 0.4em;
}

.PageLink_to_list {
  margin-right: 10px;

  &::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-right-color: vars.$greyText;
    border-top-color: vars.$greyText;
    transform: rotate(-135deg);
    margin-right: 0.4em;
  }
}

.PageLink_to_login {
  color: vars.$siteBlue;
  text-align: center;
}

.PageLink_to_logout {
  color: vars.$errMsg;
  text-align: start;
}
