@use '/static/styles/vars.scss';

/* Message */

.Message {
  max-width: calc(100% - 40px);
  clear: both;
}

.Message_type_incoming {
  margin-bottom: 8px;
  float: left;
}

.Message_type_outgoing {
  margin-bottom: 8px;
  float: right;
}

.Message_type_incoming + .Message_type_outgoing {
  margin-top: 30px;
}

.Message_type_outgoing + .Message_type_incoming {
  margin-top: 30px;
}

.Message-Bubble {
  border-radius: 1px;
}

.Message_type_incoming .Message-Bubble {
  background-color: vars.$grFill1;
}

.Message-Bubble:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.Message_type_outgoing .Message-Bubble {
  background-color: vars.$lightBlue;
}

.Message_type_incoming .Message-Bubble:last-child {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 12px;
}

.Message_type_outgoing .Message-Bubble:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 1px;
}

.Message-Body {
  color: vars.$black;
  font-size: 1.2em;
  line-height: 1.25;
  hyphens: auto;
  max-width: 430px;
  margin: 0;
  box-sizing: border-box;
}

.Message_type_text {
  padding: 10px;
}

.Message_type_image {
  position: relative;
}

.Message-Status {
  float: right;
  margin-left: 10px;
}

.Message_type_image .Message-Status {
  position: relative;
  bottom: 24px;
  right: 10px;
  padding: 0 8px;
  border-radius: 6px;
  background-color: vars.$dateOfMess;
  color: vars.$white;
}

.Message-Image {
  display: block;
  margin: 0;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.Message_type_incoming .Message_type_image:only-child .Message-Image {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 1px;
}

.Message_type_outgoing .Message_type_image:only-child .Message-Image {
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 12px;
}
